body{
    padding: 0;
    font-family: 'Century Gothic', sans-serif;
    font-size: 10px;
    color: #000;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
/* CONTAINER */
.container{
    max-width: 900px;
    padding: 0 15px;
    margin: 0 auto;
}

/* SECTION */
.section__header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.section__management{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.scroll{
    position: fixed;
    bottom: 50px;
    right: 50px;

}

.scroll i{
    font-size: 70px;
    cursor: pointer;
    color: #ccc;
    transition: color .2s linear,
    transform .7s linear;
}

.scroll i:hover{
    color: #696969;
}

.scroll i.to-top{
    transform: rotate(180deg);
}

.scroll i.to-bottom{
    transform: rotate(180deg);
}
/* MONTY */
.monty{
    display: flex;
    justify-content: space-between;

    margin-bottom: 100px;
}

.monty__item{
    width: 48%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 15px 25px 30px;
}

.monty__item-header{
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

/* CARDS */
.cards{
    display: flex;
    flex-direction: column;
}

.cards__row{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    margin-bottom: 40px;
    position: relative;
}
.cards__item-counter{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
    font-size: 35px;
    font-weight: 500;

}
.cards__item{
    width: 50px;
    height: 100px;
    border-radius: 5px;
    margin: 0 5%;
    cursor: pointer;
    background-color: #ccc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform .2s linear;
}
.cards__item::after{
    display: block;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.cards__item--first::after{
    content: '№1';
}
.cards__item--second::after{
    content: '№2';
}
.cards__item--third::after{
    content: '№3';
}

.cards__item:nth-last-child(3)::after{
    content: '№1';
}
.cards__item:nth-last-child(2)::after{
    content: '№2';
}
.cards__item:nth-last-child(1)::after{
    content: '№3';
}

/* .cards__item--win{
    background-color: red;
} */

.cards__item:hover{
    transform: scale(1.1);
}

.cards__item.chosen{
    background-color: blue;
}

.cards__item.selected{
    background-color: blue;
}

.cards__item.changed{
    background-color: yellow;
}
/* .cards__item.win{
    background-color: red;
} */


.cards__item-text{
    font-size: 20px;
    transform: rotate(-90deg);
}
/* FORM */
.form{
    display: flex;
    height: 40px;
}

.form__select{
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px 15px;
    cursor: pointer;
    transition: background-color .2s linear;
    margin-right: 20px;


}
.form__select:hover{
    background-color: #e9e9e9;
}
.form__select:focus{
    background-color: #e9e9e9;
}
.btn{
    text-align: center;
    margin: 0;
    margin-right: 20px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-family: 'Century Gothic', sans-serif;
    font-size: 15px;
    background-color: transparent;
    padding: 7px 15px;
    cursor: pointer;
    transition: background-color .2s linear;
}

.btn:hover{
   background-color: #e9e9e9;
}

.label{
    font-size: 15px;
    line-height: 35px;
    margin-right: 20px;
}


/* Management */
.example{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.example__item{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 5px;
    list-style: none;
}

.example__item::before{
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.example__item--selected::before{
    
    background-color: blue;
}

.example__item--win::before{
    background-color: red;
}

.example__item--changed::before{
    background-color: yellow
}

.example__item--success::before{
    background-color: green;
}

/* RESULTS */
.results{
    margin-bottom: 50px;
}

.results__header{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.results__content{
    display: flex;
    justify-content: space-between;
}

.results__item{
    width: 48%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 15px 25px 30px;
}

.results__item-header{
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.results__stat{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.results__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.result__card{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0 5% 20px;
    background-color: #ccc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result__card.win{
    background-color: red;
}

.result__card-text{
    font-size: 15px;
    font-weight: 700;
}

/* HELPERS */
/* .win{
    background-color: red;
} */